[submodule "Motor-Control"]
	path = Motor-Control
	url = https://github.com/waterloop/Motor-Control
[submodule "PSIM"]
	path = PSIM
	url = https://github.com/waterloop/Motor-Control
[submodule "Goose_5/INA240_Breakout/Libraries"]
	path = Goose_5/INA240_Breakout/Libraries
	url = https://github.com/waterloop/electrical-AltiumLibraries
