[submodule "Motor-Control"]
	path = Motor-Control
	url = https://github.com/waterloop/Motor-Control
[submodule "PSIM"]
	path = PSIM
	url = https://github.com/waterloop/Motor-Control
[submodule "Goose_5\\INA240_Breakout\\Library"]
	path = Goose_5\\INA240_Breakout\\Library
	url = https://github.com/waterloop/electrical-AltiumLibraries
