[submodule "Motor-Control"]
	path = Motor-Control
	url = https://github.com/waterloop/Motor-Control
[submodule "PSIM"]
	path = PSIM
	url = https://github.com/waterloop/Motor-Control
[submodule "Goose_5/INA240_Breakout/Libraries"]
	path = Goose_5/INA240_Breakout/Libraries
	url = https://github.com/waterloop/electrical-AltiumLibraries
[submodule "Goose_5/INA180_Breakout/Libraries"]
	path = Goose_5/INA180_Breakout/Libraries
	url = https://github.com/waterloop/electrical-AltiumLibraries
[submodule "Goose_5/5V_3V_LDO/Libraries"]
	path = Goose_5/5V_3V_LDO/Libraries
	url = https://github.com/waterloop/electrical-AltiumLibraries
[submodule "Goose_5/LMR50410/Libraries"]
	path = Goose_5/LMR50410/Libraries
	url = https://github.com/waterloop/electrical-AltiumLibraries
[submodule "Goose_5/FET_Gate_Drive_Breakout/Libraries"]
	path = Goose_5/FET_Gate_Drive_Breakout/Libraries
	url = https://github.com/waterloop/electrical-AltiumLibraries
[submodule "Goose_6/Flybuck/Libraries"]
	path = Goose_6/Flybuck/Libraries
	url = https://github.com/waterloop/electrical-AltiumLibraries
[submodule "Goose_5/Inverter_Breakout/Libraries"]
	path = Goose_5/Inverter_Breakout/Libraries
	url = https://github.com/waterloop/electrical-AltiumLibraries
